body {
	background-color: rgb(239,239,239);
}

.register-frm {
	width: 600px;
	margin: 0 auto;
	background-color: #999;
}

.register-frm table {
	padding: 10px;
	margin: auto;
}

.register-frm h1,h4 {
	text-align: center;
	padding-top: 10px;
}

.register-frm input[type="text"],input[type="number"],input[type="password"],textarea
	{
	padding: 10px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	font-size: 15px;
	background-color: rgb(220,217,220);
}

#fileupload {
	padding: 10px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	font-size: 15px;
	background-color: rgb(220,217,220);
}

#fileupload::-webkit-file-upload-button {
	border: 1px solid green;
	border-radius: 5px;
	background: rgb(255, 120, 120);
	padding: 5px;
	margin-right: 50px;
}

.register-frm textarea {
	width: 300px;
	height: 100px;
	scrollbar-base-color: rgb(220,217,220);
}

.age {
	width: 100px;
	font-size: 15px;
	border: 1px solid lightblue;
	border-radius: 10px;
	color: black;
	padding: 12px;
	background-color: rgb(220,217,220);
}

.register-frm td {
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
}

.register-btn {
	background-color: #660;
	color: white;
	background: rgb(81,78,81);
	font-size: 15px;
	border: 1px solid #660;
	padding: 4px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-top: 1px solid #660;
	padding: 10px;
	margin: 10px;
}

.register-btn:HOVER {
	cursor: pointer;
	color: rgb(148,142,148);
}

.magazine-table {
	border-collapse: collapse;
	border: 5px solid #444;
	width: 80%;
	margin: auto;
}

.magazine-table tr {
	font-size: 1.2em;
}

.magazine-table caption {
	font: 1.5em Georgia, "Times New Roman", Times, serif;
	padding: 1em;
	font-weight: bold;
}

.magazine-table td {
	background-color: rgb(233,229,229);
	padding: 4px;
	color: #123;
	text-align: center;
	text-decoration: none;
	border: 1px solid;
	padding: 4px;
}

.magazine-table td a {
	color: red;
	text-decoration: none;
}

.magazine-table td a:VISITED {
	color: rgb(175, 13, 175);
}

.magazine-table td a:HOVER {
	color: rgb(141, 131, 180);
}

.magazine-table .title,.periodicity {
	width: 20%;
}

.magazine-table .annotation {
	text-align: justify;
}

.magazine-table th {
	padding: 10px;
	color: #123;
	background-color: rgb(179,177,177);
}

#success-message {
	color:red;
	width: 300px;
	font-size: 1.2em;
	text-align: center;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 1.2em;
}

.admin-btn {
	color: white;
	background: rgb(122,116,116);
	font-size: 15px;
	border: 1px solid #660;
	padding: 4px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-top: 1px solid #660;
}

.admin-btn:HOVER {
	cursor: pointer;
	color: rgb(182,174,174);
}

.list-frm {
	margin: 0 auto;
	width: 300px;
	margin-top: 20px;
	padding: 5px;
	font-size: 1.1em;
}

.list-frm button {
	color: white;
	background: rgb(68,66,66);
	font-size: 16px;
	border: 1px solid #660;
	padding: 6px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-top: 1px solid #660;
}

.list-frm button:HOVER {
	cursor: pointer;
	color: rgb(159,157,157);
}

.pagination {
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	width: 400px;
}

.page {
	display: inline-block;
	padding: 0px 9px;
	margin-right: 4px;
	border-radius: 3px;
	border: solid 2px #202020;
	background: #e9e9e9;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .8), 0px 1px 3px
		rgba(0, 0, 0, .1);
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	color: #202020;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.page:hover {
	background: #fefefe;
}

.page.active {
	border: none;
	background: #616161;
	color: #f0f0f0;
}

.page.active:hover {
	cursor: default;
}

.item-table {
	padding: 10px;
	margin: auto;
	background-color: rgb(190, 190, 210);
	width: 80%;
}

.item-table  tr {
	font-size: 1.1em;
}

.item-table  caption {
	font: 1.5em Georgia, "Times New Roman", Times, serif;
	padding: 1em;
	font-weight: bold;
	padding-left: 100px;
	width: 400px;
	background-color: rgb(212, 212, 212);
}

.left {
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
}

.right {
	padding-left: 50px;
	padding-right: 20px;
	width: 70%;
}

.period-select {
	 width: 100%;
	 font-size: 15px;
	 border-radius: 10px;
	 color: black;
	 padding: 12px;
	 background-color: rgb(220,217,220);
	 cursor: pointer;
 }

#error-div {
	font-size: 1.2em;
	margin: 30px;
}

#error-div h3 {
	text-align: center;
}

#error-div ul {
	list-style-type: none;
	display: table;
	margin: 0 auto;
}

#error-div li>span {
	font-weight: bold;
}

#error-div .error-span {
	color: red;
}

span#title {
	display: block;
	margin: 10px;
	font-weight: bold;
}

td.error-cell {
	color: rgb(160, 0, 0);
}