@CHARSET "UTF-8";

#logout {
	width: 100px;
	margin: auto;
}

#logout button {
	color: white;
	background: rgb(122,116,116);
	font-size: 15px;
	border: 1px solid #660;
	padding: 10px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-top: 1px solid #660;
	margin: 10px;
}

#logout button:HOVER {
	cursor: pointer;
	color: rgb(182,174,174);
}

.main-list {
	list-style-type: none;
	margin: auto;
	padding: 0;
	margin: 10px;
	font-size: 1.3em;
}

.main-list li {
	display: inline;
	padding: 5px;
	margin: 0;
}

.main-list a {
	text-decoration: none;
	color: white;
}

.main-list li a:hover {
	color: rgb(198, 194, 194);
}

#language {
	border-collapse: collapse;
	margin: auto;
	padding: 10px;
	margin: 10px;
	font-size: 1.3em;
	background-color: rgb(58, 54, 54);
}

#language a {
	text-decoration: none;
	color: white;
	margin: 10px;
}

#language a:hover {
	color: rgb(198, 194, 194);
}

.border_bottom {
	border-top: 1px solid black;
}